@model PiedPiperIN.Models.product

@{
    ViewBag.Title = "UploadProduct";
}

<h2>@ViewBag.Head</h2>


@using (Html.BeginForm("UploadProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{




   
        @Html.TextBoxFor(m=> Model.Product_Name, new { Value = "Enter Product Name", @class = "form-control" });<br />
        @Html.TextBoxFor(model => Model.Product_Price , new { Value = "Enter Product Price", @class = "form-control" });<br />
    





<div>
    @Html.TextBox("file", "", new { type = "file" }) <br />
    <input type="submit" value="Upload" />

</div>

}

@Html.ActionLink("Edit", "EditProduct", "Home");
