@model PiedPiperIN.Models.DashboardViewModel
@{
    ViewBag.Title = "UploadProduct";
}

<h2>@ViewBag.Head</h2>
<html>
<head>
    <script type="text/javascript">
        function update(var name, var price)
            {
                document.GetElementById("pname").value = name;
                 document.GetElementById("price").value = price;
            }
    </script>
</head>
@using (Html.BeginForm("newProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <input type="text" value="Product Name" name="Product_Name" id="pname" />
    <input type="text" value="Product Price" name="Product_Price" id="price" />
    @Html.TextBox("file", "", new { type = "file" }) <br />

    <input type="submit" value="Upload"  />



}
<br />




<table class="table">
    <tr>
        <th>
            Product ID
        </th>
        <th>
            Product Name
        </th>
        <th>
            Price
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Product)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.Product_ID)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Product_Price)
            </td>
            <td>
                <img src="~/content/@Html.DisplayFor(modelitem => item.Product_Pic)" width="100" height="100" />
            </td>

            <td>

              
              
                    <input type="hidden" value="@Html.DisplayFor(modelitem => item.Product_ID)" name="pid" />
                    <input type="submit" value="edit" onclick="update(@item.Product_Name, @item.Product_Price)">
               

        </tr>

    }
</table>
</html>