@model PiedPiperIN.Models.user_profile
@{
    ViewBag.Title = "Index";
}
<body>
    <div class="row">
    <h2>PIED PIPER IN</h2>



    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="col-sm-4">
            <h3>Login Page</h3>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @if (Session["state"] == "true")
            {
                <span id="">Thanks for registering!</span>
                Session["state"] = "false";
            }
            @if (Session["wrong"] == "true")
            {
                <span id="">Wrong Password!</span>
                Session["wrong"] = "false";
            }


            <div class="form-group">
                @Html.TextBoxFor(a => a.Email, new { placeholder = Html.DisplayNameFor(a => a.Email), required = "required" })

            </div>

            @Html.ValidationMessageFor(a => a.Email)

            <div class="form-group">
                @Html.PasswordFor(a => a.Password, new { placeholder = Html.DisplayNameFor(a => a.Password), required = "required" })

            </div>

            @Html.ValidationMessageFor(a => a.Password)



            <div class="form-group" style="display:inline-block">
                <input type="submit" id="submit" value="Login" style="background-color: #4CAF50;  border: none;   color: white;   padding: 10px 15px;   text-align: center;    text-decoration: none;    display: inline-block;   font-size: 16px;" />

            </div>

            <div class="form-group" style="display:inline-block">
                @Html.ActionLink("Sign Up", "Create", "Home", new { @style = "background-color: #00CED1;  border: none;   color: white;   padding: 10px 15px;   text-align: center;    text-decoration: none;    display: inline-block;   font-size: 16px;" })
            </div>
        </div>
    }
        </div>
</body>


