@model PiedPiperIN.Models.DashboardViewModel

@{
    ViewBag.Title = "INVOICE";
}


<body style="background-color:#ff6a00">
    <div class="row">
        <div style="border:1px solid #808080; margin-top:2px; box-shadow:#000000 1px 1px; background-color:aliceblue">
            <div class="col-sm-12">
                <div>
                    <center>
                        <h2 id="head"> </h2>
                        <script>

                            var myvar = setInterval(myTimer, 1000);
                            var d = 5;
                            function myTimer() {

                                document.getElementById("head").innerHTML = "Your Order has been Placed. Wait for 5 seconds to process your order: " + d;
                                --d;
                                if (d == 0) {

                                    document.getElementById("head").innerHTML = "Your order has been successfully placed";

                                    document.getElementById("orderno").style.visibility = "visible";
                                    clearTimeout(myvar);
                                    alert("Go to DashBoard");
                                }
                            }

                        </script>
                        <h3 style="visibility:hidden;" id="orderno">Order No:<span style="color:brown">@Session["order_no"]</span></h3>
                    </center>
                </div>
                <table class="table">
                    <tr>
                        <th>Name: <span style="color:brown"> @Session["name"]</span></th>
                        <th>Address: <span style="color:brown">@Session["address"]</span></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>
                            Product ID
                        </th>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Original Price
                        </th>
                        <th>
                            Price(Discounted if)
                        </th>
                        <th>
                            Taxable Price
                        </th>

                    </tr>

                    @foreach (var item in Model.Cart)
                    {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.prdouct_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.product_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => (item.discounted_price))

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => (item.taxable_price))

                            (@Html.DisplayFor(modelItem => (item.category))%)


                        </td>


                    </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td><h5>Total Quantities:<span style="color:brown;">@Session["qty"]</span> </h5></td>
                        <td><h5>Total Price: <span style="color:brown;">@Session["total"]</span></h5></td>
                        <td><h5>Total Price:(Discounted if) <span style="color:brown;">@Session["total_price_value"]</span></h5></td>
                        <td><h5>Total Taxable Price: <span style="color:brown;">@Session["taxable"]</span></h5></td>

                    </tr>
                    <tr>
                        
                         </tr>
                    <tr>
                        @if (Session["discount_value"].ToString() != "")
                        {
                            <h3 style="color:orangered;">@Session["discount_value"] % Discount Applied!</h3>
                        }
                   </tr>
                </table>

            </div>


            <h3>  Total Payable Amount: @Session["total_payable"] </h3>

        </div>


    </div>
    
</body>
