@model PiedPiperIN.Models.user_profile
@{
    ViewBag.Title = "Index";
}
<body>
    <center>
        <div class="row">
            <h2 style="font-family: 'Markazi Text', serif;">PIED PIPER IN</h2>



            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {

                <h3 style="font-family: 'Markazi Text', serif;">Login Page</h3>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                if (Session["state1"] == "true")
                {
                    <span id="">Thanks for registering!</span>
                    Session["state1"] = "false";
                }
                if (Session["wrong"] == "true")
                {
                    <span id="">Wrong Password!</span>
                    Session["wrong"] = "false";
                }


                <div class="form-group">
                    @Html.TextBoxFor(a => a.Email, new { placeholder = Html.DisplayNameFor(a => a.Email), required = "required", @class = "form-control" })

                </div>

                @Html.ValidationMessageFor(a => a.Email)

                <div class="form-group">
                    @Html.PasswordFor(a => a.Password, new { placeholder = Html.DisplayNameFor(a => a.Password), required = "required", @class = "form-control" })

                </div>

                @Html.ValidationMessageFor(a => a.Password)



                @*<div class="form-group" style="display:inline-block">

                </div>

                <div class="form-group" style="display:inline-block">

                </div>*@
                <input type="submit" id="submit" value="Login" class="btn btn-dark" />

                @Html.ActionLink("Sign Up", "Create", "Home", new { @class = "btn btn-dark", type = "submit" })
            }
        </div>
        
    </center>
</body>


