@model IEnumerable<PiedPiperIN.Models.product>
@{
    ViewBag.Title = "UserDashBoard";
}

<h2>UserDashBoard</h2>

<p>
    @Html.ActionLink("UploadProduct", "UploadProduct","Product")
</p>
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Pic)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                <img src="~/Content/@Html.DisplayFor(modelItem => item.Product_Pic)" width="100" height="100" />

            </td>
            <td>
               
        </tr>
    }


</table>

